body {
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:70%;
  margin:auto;
  overflow:hidden;
}

/* Header */

header {
  background: #353657;
  padding-bottom: 30px;
  border-bottom: #5489dd 3px solid;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header a:hover {
  color: #12C23F;
}

ul {
  margin: 0;
  padding: 0;
}

#logo{
  padding-left: 15px;
  color: #ffffff;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

/* End of Header */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #353657;
  border-top: #5489dd 3px solid;
  text-align: center;
  color: #ffffff;
}
